#nginxchampuru-settings #post-body-content {
  margin: 0 10px;
}
#nginxchampuru-settings #post-body-content .form-table {
  margin-bottom: 2em;
}
#nginxchampuru-settings #post-body-content .title,
#nginxchampuru-settings #post-body-content h3,
#nginxchampuru-settings #post-body-content h4 {
  margin-left: -10px;
}
#nginxchampuru-settings #post-body-content h3 {
  font-size: 22px;
  padding: 5px;
  border-bottom: 3px solid #dedede;
  color: #555555;
}
#nginxchampuru-settings #post-body-content h4 {
  font-size: 18px;
  color: #555555;
}
#nginxchampuru-settings #post-body-content input.int {
  width: 6em;
  text-align: right;
}
#nginxchampuru-settings #post-body-content dl {
  margin: 10px;
}
#nginxchampuru-settings #post-body-content dt {
  width: 100px;
  float: left;
  margin-bottom: 10px;
}
#nginxchampuru-settings #post-body-content dd {
  margin-bottom: 10px;
}
#nginxchampuru-settings #post-body-content #enable-flush {
  display: none;
}
#nginxchampuru-settings #postbox-container-1 .postbox .inside {
  padding: 8px 12px;
}
#nginxchampuru-settings #postbox-container-1 .postbox .inside img {
  max-width: 100%;
  display: block;
  margin: 1em auto;
}
#nginxchampuru-settings #postbox-container-1 .postbox .inside ul {
  margin-left: 2em;
  list-style-type: disc;
}
