#nginxchampuru-settings
{
    margin: 0 10px;
}

#nginxchampuru-settings .form-table
{
    margin-bottom: 2em;
}

#nginxchampuru-settings .title,
#nginxchampuru-settings h3,
#nginxchampuru-settings h4
{
    margin-left: -10px;
}

#nginxchampuru-settings h3
{
    font-size: 22px;
    padding: 5px;
    border-bottom: 3px solid #dedede;
    color: #555555;
}

#nginxchampuru-settings h4
{
    font-size: 18px;
    color: #555555;
}

#nginxchampuru-settings input.int
{
    width: 6em;
    text-align: right;
}

#nginxchampuru-settings dl
{
   margin: 10px; 
}

#nginxchampuru-settings dt
{
    width: 100px;
    float: left;
    margin-bottom: 10px;
}

#nginxchampuru-settings dd
{
    margin-bottom: 10px;
}

#enable-flush
{
    display: none;
}

